html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "EB Garamond", serif;
  background-color: #fffefa;
  color: #1A1A19
}

h1 {
font-family: "Montserrat", sans-serif;
}

.header{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  border-bottom: 0.5px dotted black;
}


nav a{
  flex: 1;
  text-decoration: none;
  color: #1a1a19;
  padding: 5px;
  box-sizing: content-box;
  width: 10%;
  justify-content: center;
  text-align: center;
  line-height: 2;
}

nav div{
  flex: 1;
  text-decoration: none;
  color: #1a1a19;
  padding: 5px;
  box-sizing: content-box;
  width: 10%;
  justify-content: center;
  text-align: left;
  line-height: 2;
}

nav .current {
    text-decoration: underline;
}

nav a:hover{
  background-color: #faf6e9;
}

nav .filler {
    flex: 3;
}

main {
    display: flex;
    align-items: center;
}

main section {
    flex:1;
    margin: 5%;
    
}
main div {
    flex:1;
}

main div img {
    width:100%;
}

.green-link {
    color: #3e8463;
}

.green-link:hover {
    color: #bfd6bd;
    text-decoration: none;
}