html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 12px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #0f6f47;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #437b58;
}

body {
  width: 200px;
  margin: 0 auto;
  background-color: #e7f1e5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
