* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}

html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 20px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "EB Garamond", serif;
  background-color: #fffefa;
  color: #1a1a19;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #fffefa;
  /*display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  border-bottom: 0.5px dotted black;*/
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding:0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #1a1a19;
}

nav .current {
  text-decoration: underline;
}

nav a:hover {
  background-color: #faf6e9;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #bfd6bd;
    display: flex;
    flex-direction: column;
}

main {
  display: flex;
  align-items: center;
}

main section {
  flex: 1;
  margin: 5%;
}
main div {
  flex: 1;
}

main div img {
  width: 100%;
}

.green-link {
  color: #3e8463;
}

.green-link:hover {
  color: #bfd6bd;
  text-decoration: none;
}
